// Színek
$white: #fcf9f5;
$butter: #fcf9f5;
$orange: #f57933;
$orange-lighter: #f9e7dc;
$light-grey: #ededed;
$dark-blue: #25273E;
$black: #000000;
$dark-grey: #a6a6a6;

$alert-color: red;
$success-color: green;

// Betűkészlet
$font-stack: 'Arial', sans-serif;

// Egyéb
$line-height: 1.6;
$font-weight: 400;
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;