.hero {
  background: linear-gradient(to right, var(--orange), #eabca4);
  color: var(--white);
  height: 100vh;
  padding: 0;
}

/* Szöveg stílusai */
.hero-text {
  max-width: 40rem;
  margin-left: 2rem;
}

.h1_alter {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

/* Kép stílusai */
.hero-image {
  height: 100%;
}

.hero-image img {
  float: right;
  height: inherit;
  width: inherit;
}