.hero {
  background: linear-gradient(to bottom, var(--orange), #4c2510);
  color: var(--white);
  height: 100vh; /* Teljes képernyő magasság */
}

/* Szöveg stílusai */
.hero-text {
  max-width: 50%;
}

.h1_alter {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* Kép stílusai */
.hero-image {
  max-width: 45%;
}

.hero-image img {
  width: 100%;
  object-fit: cover;
}
