@use '../_variables' as *;

.popup.new-payment {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-sizing: border-box;
  background-color: $light-grey; // Az oldal háttere mindig $light-grey

  .type-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0; // Térköz eltávolítása a gombok körül
    gap: 0; // Térköz eltávolítása a gombok között

    .type-button {
      flex: 1;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      cursor: pointer;
      border-radius: 10px 10px 0 0;
      width: 100%;

      &.expense {
        background-color: $orange;
        color: $white;
      }

      &.income {
        background-color: $dark-blue;
        color: $white;
      }
    }
  }

  .main-content {
    padding: 20px;
    border-radius: 0 0 10px 10px;

    // Színváltozás a típus alapján
    &.expense {
      background-color: $orange;
      color: $white;
    }

    &.income {
      background-color: $dark-blue;
      color: $white;
    }
  }

  .inputs {
    max-height: 60vh;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden; // Oldalirányú scrollbar eltávolítása
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid $dark-grey;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    color: $dark-blue; // A legördülő menük szövegének színe sötétkék
    box-sizing: border-box;
  }

  .repeat-dates {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .repeat-details {
      margin-bottom: 10px;

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .repeat-row {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        input,
        select {
          flex: 1;
          padding: 10px;
          border: 1px solid $dark-grey;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.4);
          color: $dark-blue; // A legördülő menük szövegének színe sötétkék
          box-sizing: border-box;
        }
      }
    }
  }

  .buttons {
    margin-top: 20px;

    button {
      width: 48%;
      margin: 0 1%;
    }
  }
}