.cardpage_profile-main-card {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  background-color: var(--light-grey);
  padding: 20px;
}

.profile-container.sidebar-hovered {
  grid-template-columns: 40% 25%;
}

.cardpage_transactions-section {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: var(--light-grey);
}

.cardpage_active-card-section {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardpage_bar-diagram-section {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: var(--light-grey);
}

.cardpage_pie-diagram-section {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-color: var(--light-grey);
}

.cardpage_card-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardpage_active-card-section .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.cardpage_active-card-section .shared-users {
  text-align: center;
  margin-top: 10px;
}

.cardpage_card {
  background-image: url('/images/Card_EmptyInactive.png');
  color: var(--light-grey);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.cardpage_card.active {
  background-image: url('/images/Card_empty_full.png');
  color: var(--light-grey);
}

.cardpage_profile-main-card section {
  padding: 20px;
  background-color: rgba(255, 165, 0, 0.1);
  border-radius: 10px;
}

.cardpage_sectionMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Add this line to center align items */
}

.cardpage_Title_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cardpage_Title {
  font-size: 1.5rem;
  font-weight: bold;
}

.primary_v3 {
  background-color: var(--primary-color);
  color: var(--light-grey);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary_v3:hover {
  background-color: var(--primary-color-dark);
}

img#before {
  object-fit: cover;
  rotate: 180deg;
}

img#next {
  object-fit: cover;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}