.changes-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .changes-cards {
    flex: 1 1 calc(50% - 20px);
    padding: 20px;
    border-radius: 10px;
    color: white;
  }