.profile-container {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: auto auto auto auto;
  gap: 20px;
  background-color: var(--light-grey);
  padding: 20px;
  transition: grid-template-columns 0.3s ease;
}

.profile-container.sidebar-hovered {
  grid-template-columns: 55% 25%;
}

.cards-section {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background-color: var(--light-grey);
}

.user-section {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: var(--light-grey);
  box-sizing: border-box;
  padding: 20px;
}

.user-section img {
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-bottom: 10px;
}

.changes-card-section {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  background-color: var(--light-grey);
}

.transactions-section {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  background-color: var(--light-grey);
}

.bar-diagram-section {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  background-color: var(--light-grey);
}

.pie-diagram-section {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  background-color: var(--light-grey);
}

.cards-section .cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-image: url('/images/Card_EmptyInactive.png');
  color: var(--light-grey);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.card.active {
  background-image: url('/images/Card_empty_full.png');
  color: var(--light-grey);
}

.profile-container section {
  padding: 20px;
  background-color: rgba(255, 165, 0, 0.1);
  border-radius: 10px;
}

.sectionMain {
  display: flex;
  flex-direction: column;
}

.Title_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Title {
  font-size: 1.5rem;
  font-weight: bold;
}

.primary_v3 {
  background-color: var(--primary-color);
  color: var(--light-grey);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary_v3:hover {
  background-color: var(--primary-color-dark);
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}