@use '../_variables' as *;
@use '../_mixins' as *;

#advantages {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 20px;
  background-color: $light-grey;
}

.advantages-content {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advantages-text {
  text-align: left;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: $dark-blue;
  }

  p {
    font-size: 1.2rem;
    color: $dark-blue;
  }
}

.advantages-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-card {
  flex: 1;
  max-width: 150px;
  text-align: left;

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  h6 {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: $dark-blue;
  }

  p {
    font-size: 0.9rem;
    color: $dark-blue;
  }
}

.advantages-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.advantages-image {
  flex: 1;
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}