@use '../_variables' as *;
@use '../_mixins' as *;

#functions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: $light-grey;
}

.functions-text {
  text-align: center;
  max-width: 800px;
  margin-bottom: 40px;
}

.functions h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: $dark-blue;
}

.functions p {
  font-size: 1.2rem;
  color: $dark-blue;
}

.functions-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.functions-card {
  flex: 1;
  max-width: 25%;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 20px;

  img {
    max-width: 100%;
    height: auto;
  }

  .functions-card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: $dark-blue;
  }

  .functions_card_text {
    font-size: 1rem;
    color: $dark-blue;
  }
}

.functions-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}