@use '../_variables' as *;
@use '../_mixins' as *;

#tryItOut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: rgb(201, 201, 201)
  ;
}

.tryItOut-object {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tryItOut-text {
  margin-bottom: 20px;

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: $dark-blue;
  }

  p {
    font-size: 1.2rem;
    color: $dark-blue;
  }
}

.tryItOut-buttons {
  display: flex;
  justify-content: left;
  gap: 15px;
}

.tryItOut-image {
  flex: 1;
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}